@import url(../variables.css);

/** ==============================-------------------- CONTAINER STYLES  --------------------============================== */

.container {
    display: grid;
    grid-template:
        "header"
        "main"
        "footer";
    grid-template-rows: 6rem 1fr 6rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/** ==============================-------------------- HEADER STYLES  --------------------============================== */

.header {
    grid-area: header;
}

/** ==============================-------------------- MAIN SECTION STYLES  --------------------============================== */

main {
    grid-area: main;
}

    /*! ----------===== SECTION ENCRYPT =====---------- */



    /*! ----------===== SECTION DECRYPT =====---------- */



/** ==============================-------------------- FOOTER STYLES  --------------------============================== */

.footer {
    grid-area: footer;
}



/*? ==============================-------------------- MEDIA QUERIES  --------------------============================== */

@media (width >= 768px) {
/*? ==============================-------------------- CONTAINER STYLES  --------------------============================== */


/*? ==============================-------------------- HEADER STYLES  --------------------============================== */

/*? ==============================-------------------- MAIN SECTION STYLES  --------------------============================== */

/*! ----------===== SECTION ENCRYPT =====---------- */

/*? ==============================-------------------- FOOTER STYLES  --------------------============================== */


}



@media (width >= 1024px) {
/*? ==============================-------------------- CONTAINER STYLES  --------------------============================== */


/*? ==============================-------------------- HEADER STYLES  --------------------============================== */

/*? ==============================-------------------- MAIN SECTION STYLES  --------------------============================== */

.main {
    display: grid;
    grid-template:
    "encrypt decrypt";
    grid-template-columns: 1fr 1fr;
}

/*! ----------===== SECTION ENCRYPT =====---------- */

.encrypt {
    grid-area: encrypt;
}

/*! ----------===== SECTION DECRYPT =====---------- */
.decrypt {
    grid-area: decrypt;
}

/*? ==============================-------------------- FOOTER STYLES  --------------------============================== */

}
